{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Management</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>University Management</h1>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'create_department' %}">Departments</a>
                <a href="{% url 'create_course' %}">Courses</a>
                <a href="{% url 'add_student' %}">Students</a>
                <a href="{% url 'add_teacher' %}">Teachers</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'register' %}">Sign Up</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {%  endif %}
    </main>
    <footer>
        <p>&copy; 2024 University Management System</p>
    </footer>
    
</body>
</html>
