{% extends 'base.html' %}

{% block content %}
    <h3>Course List <span>[<a id="delete" href="{% url 'delete_all_course' %}">Delete All</a>]</span></h3>
    <ol>
        {% for course in courses %}
            <li>{{ course.name }}({{ course.code }}) -- ({{course.department.code}}) - <a href="{% url 'edit_course' course.id %}">Edit</a> - <a href="{% url 'delete_course' course.id %}" id="delete">Delete</a></li>
        {% endfor %}

    </ol>
    
<h2>Create/Update Course</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% endblock %}

